body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
#card1{   
    width: 100%;
    height: 320px;
    background-color: black;
    margin-top: 11%;
}
#titulos{

    display: flex;
    margin-left: 28px;
    gap: 670px;
    margin-top: -20px;
}
#textos{
    display: flex;
    gap: 80px;
    margin-left: 350px;
    margin-top: -20px;
    font-size: 15px;

}
#texto3{
    margin-bottom: 20px;
}
#titulo1{ 
    font-size: 90px;
}
#titulo2{ 
    font-size: 45px;
}
#titulo3{ 
    font-size: 45px;
}
#imagem{
    margin-top: -150px;
    margin-left: 27%;
    width: 900px;
    height: 550px;
}